# -----------------------------------------
# Inventory service environment variables
INVENTORY_MONGO_INITDB=inventory-service
INVENTORY_MONGO_ROOT_USERNAME=inventory-service-user
INVENTORY_MONGO_ROOT_PASSWORD=inventory-service-password
INVENTORY_MONGO_EXTERNAL_PORT=27017
INVENTORY_MONGO_HOST=inventory-mongo
INVENTORY_MONGO_IMAGE_NAME=mongo:7.0.5
INVENTORY_MONGO_INITDB=inventory-service
INVENTORY_MONGO_AUTH_SOURCE=admin

# INVENTORY_MONGO_URI=mongodb://inventory-service-user:inventory-service-password@localhost:27017/database?authSource=admin

INVENTORY_GRPC_PORT=50051
INVENTORY_GRPC_HOST=0.0.0.0

INVENTORY_LOGGER_LEVEL=info
INVENTORY_LOGGER_AS_JSON=true
# -----------------------------------------

# -----------------------------------------
# Order service environment variables
ORDER_POSTGRES_IMAGE_NAME=postgres:15
ORDER_POSTGRES_USER=postgres
ORDER_POSTGRES_PASSWORD=postgres
ORDER_POSTGRES_DB=order
ORDER_POSTGRES_PORT=5432
ORDER_POSTGRES_HOST=localhost

ORDER_DB_URI=postgres://postgres:postgres@localhost:5432/order
ORDER_MIGRATIONS_DIR=./migrations
ORDER_HTTP_HOST=localhost
ORDER_HTTP_PORT=8080


ORDER_LOGGER_LEVEL=info
ORDER_LOGGER_AS_JSON=true
# -----------------------------------------

# -----------------------------------------
# Payment service environment variables
PAYMENT_GRPC_PORT=50052
PAYMENT_GRPC_HOST=localhost

PAYMENT_LOGGER_LEVEL=info
PAYMENT_LOGGER_AS_JSON=true
# -----------------------------------------