MONGO_INITDB_DATABASE=${INVENTORY_MONGO_INITDB}
MONGO_INITDB_ROOT_USERNAME=${INVENTORY_MONGO_ROOT_USERNAME}
MONGO_INITDB_ROOT_PASSWORD=${INVENTORY_MONGO_ROOT_PASSWORD}
EXTRERNAL_MONGO_PORT=${INVENTORY_MONGO_EXTERNAL_PORT}
MONGO_HOST=${INVENTORY_MONGO_HOST}
MONGO_IMAGE_NAME=${INVENTORY_MONGO_IMAGE_NAME}
MONGO_AUTH_SOURCE=${INVENTORY_MONGO_AUTH_SOURCE}

GRPC_PORT=${INVENTORY_GRPC_PORT}
GRPC_HOST=${INVENTORY_GRPC_HOST}