POSTGRES_IMAGE_NAME=${ORDER_POSTGRES_IMAGE_NAME}
POSTGRES_USER=${ORDER_POSTGRES_USER}
POSTGRES_PASSWORD=${ORDER_POSTGRES_PASSWORD}
POSTGRES_DB=${ORDER_POSTGRES_DB}
POSTGRES_PORT=${ORDER_POSTGRES_PORT}
POSTGRES_HOST=${ORDER_POSTGRES_HOST}

MIGRATIONS_DIR=./migrations

HTTP_PORT=${ORDER_HTTP_PORT}
HTTP_HOST=${ORDER_HTTP_HOST}

INVENTORY_GRPC_PORT=${INVENTORY_GRPC_PORT}
INVENTORY_GRPC_HOST=${INVENTORY_GRPC_HOST}

PAYMENT_GRPC_HOST=${PAYMENT_GRPC_HOST}
PAYMENT_GRPC_PORT=${PAYMENT_GRPC_PORT}

LOGGER_LEVEL=${ORDER_LOGGER_LEVEL}
LOGGER_AS_JSON=${ORDER_LOGGER_AS_JSON}