**🚀 Заказ собран**

Заказ *{{ .OrderUUID }}* собран и готов к отправке.

*Информация о событии:*
- *ID события:* {{ .EventUUID }}
- *ID заказа:* {{ .OrderUUID }}
- *ID пользователя:* {{ .UserUUID }}
- *Время сборки:* {{ .BuildTimeSeconds }}