**💰 Заказ оплачен**

Заказ *{{ .OrderUUID }}* оплачен.

*Информация о событии:*
- *ID события:* {{ .EventUUID }}
- *ID заказа:* {{ .OrderUUID }}
- *ID заказчика:* {{ .UserUUID }}
- *Метод оплаты:* {{ .PaymentMethod }}
- *ID транзакции:* {{ .TransactionUUID }}